/*
 * ------------------------------------------------------------------------------------------------------------------------
 * Buttons
 * ------------------------------------------------------------------------------------------------------------------------	
 */

.mobile_menu {
	width:2.6em; height:2.6em;
	display: none;
	text-indent:-999em;
	background-color: darken($grey,18%);
	

	.menu_bars {
		position: relative;	
	
		.bar_top { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:.6em; left:.5em; }
		.bar_middle { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:1.25em; left:.5em; }
		.bar_bottom { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:1.95em; left:.5em; }
	}
}

.scroll_to_top {
	padding:1.2em .4em;
	text-decoration:none;
	color:$black;
	border-radius:10px;
	border:1px solid $primary;
	background-color:$grey;
	display:block;
	width: 65px;
	height: 65px;
	position:fixed;
	bottom:5em; right:3em;
	text-align:center;
	vertical-align:center;
	visibility:hidden;
	opacity:0;
	text-indent:-999em;
	-webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
	&.is-visible { visibility: visible; opacity:1; }
	&.fade-out { opacity: .5; }
	&:hover { opacity:1; }
}

@media screen and (max-width:$medium) {
	.mobile_menu { display:inline-block; position:absolute;	top:0em; right:.5em; }
}

@media screen and (max-width:$small) {
	.scroll_to_top { display:none; }
}