/*
 * ------------------------------------------------------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------------------------------------------------------	
 */
$primary: #b72841;
$secondary: #db9d0e;
$white: #fff;
$black: #000;
$orange: #FF9800;
$grey: #eaeaea;
