/*
 * ------------------------------------------------------------------------------------------------------------------------
 * Buttons
 * ------------------------------------------------------------------------------------------------------------------------	
 */

.mobile_menu {
	width:2.6em; height:2.6em;
	display: none;
	text-indent:-999em;
	background-color: darken($grey,18%);

	.menu_bars {
		position: relative;	
	
		.bar_top { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:.6em; left:.5em; }
		.bar_middle { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:1.25em; left:.5em; }
		.bar_bottom { border:1.5px solid $white; width:1.5em; display: block; position: absolute; top:1.95em; left:.5em; }
	}
}

@media screen and (max-width:$medium) {
	.mobile_menu { display:inline-block; position:absolute;	top:0em; right:.5em; }
}