/*
 * ------------------------------------------------------------------------------------------------------------------------
 * Base Styling
 * ------------------------------------------------------------------------------------------------------------------------	
 */

 body {
 	font-family: 'Open Sans', Arial, sans-serif;
	font-size:1em;
	line-height:1.5;
}

.browserupgrade { padding:.8em 0; font-size:1.2em; color:$white; text-align:center; background:$orange;
	a { color:$white; font-weight:bold; }
 }

.container { width:80%; margin:0 auto; max-width:$large; position:relative; }

.main-content { text-align:center; margin-top:25%;
	ul { list-style:none; 
		a { text-decoration:none; }
	}
}

@media screen and (max-width: $large) {
	.container { width:95%; }
}

@media screen and (max-width:$small) {
	h1 { font-size:1.5em; margin-bottom:.2em; }
	h2, h3 { font-size:1.5em; }
	.container { width:100%; padding:.5em; }
}



